.signup-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .signup-title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .signup-subtitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error{
    color: red;
    font-size: 14px;
  }
  
  .checkbox-input {
    margin-right: 10px;
  }
  
  .signup-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #555;
  }
  
  .divider {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .google-signup {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #db4437;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .google-signup:hover {
    background-color: #c33c2f;
  }
  